<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card1</key>
            <dict>
                <key>frame</key>
                <string>{{794,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card10</key>
            <dict>
                <key>frame</key>
                <string>{{695,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card11</key>
            <dict>
                <key>frame</key>
                <string>{{596,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card12</key>
            <dict>
                <key>frame</key>
                <string>{{497,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card13</key>
            <dict>
                <key>frame</key>
                <string>{{398,863},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card14</key>
            <dict>
                <key>frame</key>
                <string>{{398,740},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card15</key>
            <dict>
                <key>frame</key>
                <string>{{398,617},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card16</key>
            <dict>
                <key>frame</key>
                <string>{{398,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card17</key>
            <dict>
                <key>frame</key>
                <string>{{398,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card18</key>
            <dict>
                <key>frame</key>
                <string>{{299,863},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card19</key>
            <dict>
                <key>frame</key>
                <string>{{299,740},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card2</key>
            <dict>
                <key>frame</key>
                <string>{{695,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card20</key>
            <dict>
                <key>frame</key>
                <string>{{299,617},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card21</key>
            <dict>
                <key>frame</key>
                <string>{{299,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card22</key>
            <dict>
                <key>frame</key>
                <string>{{299,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card23</key>
            <dict>
                <key>frame</key>
                <string>{{893,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card24</key>
            <dict>
                <key>frame</key>
                <string>{{794,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card25</key>
            <dict>
                <key>frame</key>
                <string>{{695,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card26</key>
            <dict>
                <key>frame</key>
                <string>{{596,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card27</key>
            <dict>
                <key>frame</key>
                <string>{{497,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card28</key>
            <dict>
                <key>frame</key>
                <string>{{398,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card29</key>
            <dict>
                <key>frame</key>
                <string>{{299,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card3</key>
            <dict>
                <key>frame</key>
                <string>{{596,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card30</key>
            <dict>
                <key>frame</key>
                <string>{{200,863},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card31</key>
            <dict>
                <key>frame</key>
                <string>{{200,740},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card32</key>
            <dict>
                <key>frame</key>
                <string>{{200,617},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card33</key>
            <dict>
                <key>frame</key>
                <string>{{200,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card34</key>
            <dict>
                <key>frame</key>
                <string>{{200,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card35</key>
            <dict>
                <key>frame</key>
                <string>{{200,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card36</key>
            <dict>
                <key>frame</key>
                <string>{{893,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card37</key>
            <dict>
                <key>frame</key>
                <string>{{794,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card38</key>
            <dict>
                <key>frame</key>
                <string>{{695,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card39</key>
            <dict>
                <key>frame</key>
                <string>{{596,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card4</key>
            <dict>
                <key>frame</key>
                <string>{{497,863},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card40</key>
            <dict>
                <key>frame</key>
                <string>{{497,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card41</key>
            <dict>
                <key>frame</key>
                <string>{{398,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card42</key>
            <dict>
                <key>frame</key>
                <string>{{299,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card43</key>
            <dict>
                <key>frame</key>
                <string>{{200,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card44</key>
            <dict>
                <key>frame</key>
                <string>{{101,863},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card45</key>
            <dict>
                <key>frame</key>
                <string>{{101,740},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card46</key>
            <dict>
                <key>frame</key>
                <string>{{101,617},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card47</key>
            <dict>
                <key>frame</key>
                <string>{{101,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card48</key>
            <dict>
                <key>frame</key>
                <string>{{101,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card49</key>
            <dict>
                <key>frame</key>
                <string>{{101,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card5</key>
            <dict>
                <key>frame</key>
                <string>{{497,740},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card50</key>
            <dict>
                <key>frame</key>
                <string>{{101,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card51</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card52</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card53</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card54</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card55</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card56</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card57</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card58</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card59</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card6</key>
            <dict>
                <key>frame</key>
                <string>{{497,617},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card60</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card61</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card62</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card63</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card64</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card65</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card66</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card67</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card7</key>
            <dict>
                <key>frame</key>
                <string>{{497,494},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card8</key>
            <dict>
                <key>frame</key>
                <string>{{893,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>card9</key>
            <dict>
                <key>frame</key>
                <string>{{794,371},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb9f8077bb9b9ec78fd4105bfd7e5602$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
